.closure-request {
    input, select {
        display: inline-block;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

    button {
        float: right;
    }
}
