:global(#root-modal) {
    z-index: 1000;
    position: fixed;
}

.modal {
    z-index: 1002;
    position: fixed;
    
    // Centering
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

    width: 600px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;

    display: block;

    background: white;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    overflow: auto;
}

.modal-overlay {
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);
}

.closed {
    display: none;
}
