$menu-width: 200px;

.container {
    margin-top: 51px;
}

.menu {
    margin: 0;
    padding: 0;
    width: $menu-width;
    height: 100%;
    background-color: #4E8FD8;
    position: fixed;
    overflow: auto;

    & a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;

        &.active {
            background-color: red;
        }

        &:hover:not(.active){
            background-color: #555;
            color: white;
        }
    }
}

.content {
    margin-left: $menu-width;
    overflow: hidden;
}
