.contact-table {    
    table {
        table-layout: fixed;
        width: 700px;
        max-width: 100%;
        border-collapse: collapse;
        border: 3px solid purple;

        thead {
            th {
                border: 3px solid purple;
            }
        }
        
        tfoot {
            td {
                border: 3px solid green;
            }
        }
        
        tbody {
            tr:not(:last-child) td {
                border-bottom: 1px solid;
            }

            tr td:nth-child(3) {
                text-align: center;
            }
        }

        tfoot {
           tr td:nth-child(3) {
                text-align: center;
            }
        }

        td input {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: none;
        }
    }
}
