.accordion {
    background-color: #EEE;
    color: #444;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    width: 100%;

    .active, &:hover {
        background-color: #CCC;
    }
}

.panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;

    &.hidden {
        display: none;
    }
}
