.contact-table {
    table {
        table-layout: fixed;
        width: 700px;
        max-width: 100%;
        border-collapse: collapse;
        border: 3px solid purple;
        
        thead {
            tr {
                border-bottom: 3px solid purple;

                th:not(:last-child) {
                    text-align: left;
                }
            }
        }

        tbody {
            tr {
                & td:nth-child(3) {
                    text-align: center;
                }

                &:not(:last-child) td {
                    border-bottom: 1px solid;
                }
            }
        }
    }    
}
