.dropdown {
    overflow: hidden;

    & .dropdown-button {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    & .dropdown-content {
        position: absolute;
        background-color: #F1F1F1;
        min-width: 160px;

        &.dropdown-content-hidden {
            display: none;
        }

        & a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
    }
}
