.loginForm {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2px;

    & input {
        display: inline-block;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid black;
    }

    & .captcha {
        margin: 8px 0;
    }

    .submit {
        margin: 8px 0;
    }
}
