.password-reset {
    & input {
        display: inline-block;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
}

.password-reset-disabled{
    pointer-events: none;
    opacity: 0.4;
}
