.customer-creation {
    legend {
        background-color: #000;
        color: #fff;
        padding: 3px 6px;
    }
    
    & input {
        display: inline-block;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid black;
    }
}
